@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;

}

/* Cacher les éléments quand nécessaire */
.hidden {
    display: none;
}

/* Menu principal */
#mainMenu {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
}

#mainMenu button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#gameContainer {
    width: 60%;
    height: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid grey;
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./invaders-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Couleur noire avec transparence */
    z-index: 1;
    /* S'assure que l'overlay est au-dessus de l'image mais en-dessous du contenu */
}

#player {
    width: 60px;
    height: 60px;
    background-image: url("./player-ship.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bonus {
    height: 30px;
    width: 30px;
    padding-top: 8px;
    padding-left: 2px;
    bottom: 20px;
    left: 40%;
    color: black;
    text-align: center;
    justify-self: center;
    background: radial-gradient(circle, rgb(255, 191, 0), red);
    border-radius: 50%;
    position: absolute;
    animation: blink 1s infinite, shine 2s infinite;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    /* Ombre lumineuse plus compacte */
}

@keyframes shine {
    0% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.8), 0 0 18px rgba(255, 255, 0, 0.6);
        /* Brillance plus subtile */
    }

    100% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    }
}

#enemies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: max-content;
    position: absolute;
}

.enemy {
    width: 60px;
    height: 60px;
    background-image: url("./invaders.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    position: absolute;
}

.bullet {
    width: 10px;
    height: 30px;
    position: absolute;
}

.enemy-bullet {
    width: 10px;
    height: 30px;
    position: absolute;
    background-image: url("./enmiesBullet.svg");
    background-size: contain;
    background-repeat: no-repeat;
}



.end-message {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    display: none;
    /* On le cache par défaut */
}

.end-message-text {
    font-size: 60px;
    line-height: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.restart-button,
#menu-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: transform .2s ease-in-out;
}

.restart-button:hover,
#menu-button:hover {
    transform: scale(105%);
}

#endButton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hud {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.wave-hud {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

#hud-score {
    position: absolute;
    top: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

#waveMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: none;
}

@keyframes explosion {
    0% {
        transform: scale(1);
        opacity: 1;
        background-color: yellow;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
        background-color: orange;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        background-color: red;
    }
}

.explosion {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    animation: explosion 0.5s forwards;
}

.bonus-msg {
    font-size: 18px;
    color: white;
    position: absolute;
}

#pauseMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: none;
    z-index: 999999;
}

#pauseMenu h2 {
    margin-bottom: 20px;
}

#pauseMenu button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform .25s ease-in-out;
    cursor: pointer;
}

#pauseMenu button:hover {
    transform: scale(110%);
}

@keyframes damageFlash {
    0% {
        background-color: rgba(255, 0, 0, 0.6);
    }

    100% {
        background-color: transparent;
    }
}

.damage-effect {
    animation: damageFlash 0.2s ease-in-out;
}