@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;

}

/* Cacher les éléments quand nécessaire */
.hidden {
    display: none !important;
}

#logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-30%, -50%);
    user-select: none;
    pointer-events: none;
}

#logo img {
    width: 60%;
    height: 60%;
    user-select: none;
    pointer-events: none;
}

/* Menu principal */
#mainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
}

#leaderBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(0, 0, 1);
    border-radius: 10px;
    height: 70%;
    width: 60%;
    padding: 40px;
    color: white;
    text-shadow: 2px 2px 0px #000000, 4px 4px 0px #0010c4;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#leaderBoard::after,
#leaderBoard::before {

    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle), transparent 70%, blue, red, yellow);
    transform: translate(0, -3px);
    width: 100%;
    height: 100%;
    top: -0;
    padding: 3px;
    border-radius: 10px;
    z-index: -1;
    animation: 4s spin linear infinite;
}

#leaderBoard::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#leaderBoard h2 {
    margin-bottom: 40px;
}

#player-score-list {
    counter-reset: rank;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.player-score {
    counter-increment: rank;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.player-score::before {
    content: counter(rank) ". ";
    font-weight: bold;
    margin-right: 10px;
}


.username {
    flex: 1;
    /* Prend tout l'espace possible à gauche */
}

.points {
    flex: 2;
    /* Prend plus d'espace au milieu */
    text-align: center;
    /* Centrer le score */
}

.times {
    flex: 1;
    /* Prend l'espace à droite */
    text-align: right;
    /* Aligne la date à droite */
}

#homeButton {
    margin-top: auto;
    padding: 15px 30px;
    border-radius: 6px;
    background-color: rgba(60, 60, 60, 0.4);
    border: none;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 35px 13px rgb(34, 48, 246);

    /* Cache ce qui dépasse */
    animation: breathe 3s ease-in-out infinite;
    /* Animation de respiration */
}

#mainMenu button {
    margin: 10px;
    padding: 10px 100px;
    font-size: 18px;
    cursor: pointer;
}

#gameContainer {
    width: 60%;
    height: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./GalaxieInvaders.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Couleur noire avec transparence */
    z-index: 1;
    /* S'assure que l'overlay est au-dessus de l'image mais en-dessous du contenu */
}

#player {
    width: 60px;
    height: 60px;
    background-image: url("./galaga-ship.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bonus {
    height: 30px;
    width: 30px;
    padding-top: 8px;
    padding-left: 2px;
    bottom: 20px;
    left: 40%;
    color: black;
    text-align: center;
    justify-self: center;
    background: radial-gradient(circle, rgb(255, 191, 0), red);
    border-radius: 50%;
    position: absolute;
    animation: blink 1s infinite, shine 2s infinite;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    /* Ombre lumineuse plus compacte */
}

@keyframes shine {
    0% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.8), 0 0 18px rgba(255, 255, 0, 0.6);
        /* Brillance plus subtile */
    }

    100% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 0, 0.5);
    }
}

#enemies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: max-content;
    position: absolute;
}

.enemy {
    width: 60px;
    height: 60px;
    background-image: url("./invaders.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    position: absolute;
}

.bullet {
    width: 10px;
    height: 30px;
    position: absolute;
}

.enemy-bullet {
    width: 10px;
    height: 30px;
    position: absolute;
    background-image: url("./enmiesBullet.svg");
    background-size: contain;
    background-repeat: no-repeat;
}



.end-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    padding: 40px;
    width: 50%;
    height: 60%;
    background-color: black;
    box-shadow: 0 0 25px 10px rgb(34, 48, 246);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    /* On le cache par défaut */
}

.saveScore {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.saveScore input {
    padding: 10px 0;
    color: black;
    font-size: 16px;
    outline: none;
    text-align: center;
    border-radius: 6px;
}

.saveScore input::placeholder {
    color: black;
}

#saveScoreButton {
    padding: 10px 0px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.endGame-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.end-message-text {
    justify-self: self-start;
    font-size: 60px;
    line-height: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.restart-button,
#menu-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: transform .2s ease-in-out;
}

.restart-button:hover,
#menu-button:hover,
#saveScoreButton:hover {
    transform: scale(105%);
}

#endButton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hud {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.wave-hud {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

#hud-score {
    position: absolute;
    top: 10px;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

#waveMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: none;
}

@keyframes explosion {
    0% {
        transform: scale(1);
        opacity: 1;
        background-color: yellow;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
        background-color: orange;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        background-color: red;
    }
}

.explosion {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    animation: explosion 0.5s forwards;
}

.bonus-msg {
    font-size: 18px;
    color: white;
    position: absolute;
}

#pauseMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 999999;
}

#pauseMenu h2 {
    margin-bottom: 20px;
}

#pauseMenu button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform .25s ease-in-out;
    cursor: pointer;
}

#pauseMenu button:hover {
    transform: scale(110%);
}

@keyframes damageFlash {
    0% {
        background-color: rgba(255, 0, 0, 0.6);
    }

    100% {
        background-color: transparent;
    }
}

.damage-effect {
    animation: damageFlash 0.2s ease-in-out;
}


/* Scene Transition */

.SceneTransition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    animation: fadeIn 3s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.cinematic-text {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}

.cut-scene {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    image-rendering: pixelated;
    /* Important pour positionner l'overlay */
}

.cut-scene-special {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 14px;
    text-align: center;
    position: relative;

    /* Important pour positionner l'overlay */
}


.cut-scene-image {
    position: absolute;
    width: 150px;
    /* Ajuste la taille de l'image */
    height: auto;
    /* Garde la proportion de l'image */
    object-fit: contain;
    /* Garde les proportions et ajuste la taille */
    z-index: 1000;
    /* Place l'image correctement dans la pile */
}

.speed-line {
    position: absolute;
    height: 2px;
    background-color: white;
    animation: speedEffect 1s linear infinite;
}

@keyframes speedEffect {
    0% {
        transform: translateX(-100%) rotate(0deg);
    }

    100% {
        transform: translateX(100vw) rotate(360deg);
    }
}


.cut-scene-text {
    position: fixed;
    /* Positionné en bas */
    left: 50%;
    /* Centré horizontalement */
    transform: translateX(-50%);
    /* Centrage horizontal */
    color: white;
    font-size: 20px;
    /* Ajustez la taille du texte selon vos préférences */
    text-align: center;
    background: transparent;
    /* Fond noir semi-transparent */
    padding: 10px 20px;
    /* Espacement autour du texte */
    border-radius: 5px;
    /* Coins arrondis */
    animation: fadeIn 2s ease-in forwards;
    /* Animation d'apparition */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

.player-cutscene {
    width: 5px;
    /* Ajuste la taille selon ton design */
    height: 5px;
    /* background-image: url("./pngkey.com-galaga-ship-png-1472422.png"); */
    /* Remplace par l’image du joueur */
    background-color: red;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
}

@keyframes moveRight {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}