@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;

}

#gameContainer {
    width: 60%;
    height: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./invaders-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Couleur noire avec transparence */
    z-index: 1;
    /* S'assure que l'overlay est au-dessus de l'image mais en-dessous du contenu */
}

#player {
    width: 60px;
    height: 60px;
    background-image: url("./player-ship.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#enemies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: max-content;
    position: absolute;
}

.enemy {
    width: 60px;
    height: 60px;
    background-image: url("./invaders.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    position: absolute;
}

.bullet {
    width: 10px;
    height: 30px;
    position: absolute;
    background-image: url("./bullet.svg");
    background-size: contain;
    background-repeat: no-repeat;
}


.end-message {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    display: none;
    /* On le cache par défaut */
}

.end-message-text {
    font-size: 60px;
    line-height: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.restart-button,
#menu-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: transform .2s ease-in-out;
}

.restart-button:hover,
#menu-button:hover {
    transform: scale(105%);
}

#endButton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#fpsDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}