/* Styles de base */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centre le gamebox horizontalement */
  align-items: center; /* Centre le gamebox verticalement */
  height: 100vh;
  background-color: rgb(231, 162, 162); /* Fond noir */
  overflow: hidden;
}

/* Conteneur du jeu */
#game-container {
  background-color: rgb(0, 0, 0);
  border: 5px solid beige;
  width: 60%;
  height: 80%;
  position: relative;
}

/* Joueur */
#player {
  position: absolute;
  bottom: 0px; /* Toujours en bas */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Ajuste le centrage */
  width: 50px;
  height: 50px;
  background-image: url("../assets/sasha.png"); /* Image du joueur */
  background-size: cover;
}

/* Conteneur des ennemis */
#enemy-container {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px; 
  /* transform: translateX(-50%); Ajuste le centrage */
  width: 50px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 6 colonnes égales */
  grid-template-rows: repeat(2, auto); /* 2 lignes automatiques */
  gap: 10px; /* Espacement entre les ennemis */
}


/* Ennemis */
.enemy {
  width: 50px;
  height: 50px;
  background-image: url("../assets/pika.png");
  background-size: cover;
}

/* Projectile */
.bullet {
  width: 15px;
  height: 15px;
  background-image: url("../assets/pokeball.png");
  background-size: cover;
  position: absolute;
  z-index: 1; /* Assurez-vous que la balle est au-dessus des autres éléments */
}
