/* Styles de base */
body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centre le gamebox horizontalement */
  align-items: center; /* Centre le gamebox verticalement */
  height: 100vh;
  background-color: black; /* Fond noir */
  overflow: hidden;
}

/* Conteneur du jeu */
#game-container {
  background-image: url("../assets/fond.jpg"); /* Image de fond */
  background-size: auto;
  background-position: center;
  border: 5px solid beige;
  width: 700px;
  height: 400px; /* Hauteur fixe pour le jeu */
  position: relative;
  overflow: hidden; /* Empêche les éléments de sortir */
}

/* Joueur */
#player {
  position: absolute;
  bottom: 0px; /* Toujours en bas */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Ajuste le centrage */
  width: 50px;
  height: 50px;
  background-image: url("../assets/sasha.png"); /* Image du joueur */
  background-size: cover;
}

#enemy {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../assets/pika.png");
  background-size: cover;
}

.bullet {
  width: 15px;
  height: 15px;
  background-image: url("../assets/pokeball.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
  /* Assurez-vous que la balle est au-dessus des autres éléments */
}
